html {
    background-color: #81c9ee;
}

h1 {
    text-align: center;
    background-color: white;
    width: 320px;
    padding: 5px;
    margin-left: 38%;
    border-radius: 10px;
    margin-top: 6%;

}

.main {
    background-color: #828182;
    width: 280px;
    border: 3px solid black;
    border-radius: 11px;
    margin: 2%;
    margin-left: 40%;
    padding-top: 5px;
    
}
.input {
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
    padding: 3%;
    background-color: white;
    width: 230px;
    height: 19px;
    margin: 2%;
    margin-left: 5%;
    border-radius: 5px;
    font-size: 18px;
    text-align: right;
}

.button {
    background-color: grey;
    justify-content: center;
    padding: 5px;
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: repeat(4,auto);
    padding-bottom: 20px;
    
}

.btn {
    border: 2px solid black;
    margin: 2px;
    background-color: #f7be40;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 30px;
    width: 60px;
    height: 60px;
}

#del {
    font-size: 22px;
    background-color: #f33925;
}

#brc1 {
    background-color: #f33925;
}
#brc1:hover {
    box-shadow:0 0 10px 0 #f7be40;
    font-size: 225%;
}

#brc2 {
    background-color: #f33925;
}

#brc2:hover {
    box-shadow:0 0 10px 0 #f7be40;
    font-size: 225%;
}

#del:hover {
    box-shadow:0 0 10px 0 #f7be40;
    font-size: 150%;
}

.btn:hover {
    box-shadow:0 0 10px 0 #f33925;
    font-size: 245%;
}

#opp:hover {
    box-shadow:0 0 10px 0 #f7be40;
    font-size: 245%;
}

#opp {
    background-color: #f33925;
}